<h1>Articles#show</h1>

Title:  <%= @article.title %> <br />
Body: <%= @article.body %> <br>

<p>
<% a = 0 %>
<% @comments.each do |comment| %>
<%= a = a.next %>
<%= comment.content %> <br />
<%# end %>
<% end %>
</p>

<p>
<%= link_to 'Make New Comments', comments_new_path %> </p>
<p>Find me in app/views/articles/show.html.erb</p>
